#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "Nordic UART BLE GATT service sample"

config BT_NUS_THREAD_STACK_SIZE
	int "Thread stack size"
	default 1024
	help
	  Stack size used in each of the two threads

config BT_NUS_UART_BUFFER_SIZE
	int "UART payload buffer element size"
	default 40
	help
	  Size of the payload buffer in each RX and TX FIFO element

config BT_NUS_SECURITY_ENABLED
	bool "Enable security"
	default y
	select BT_SMP
	help
	  "Enable BLE security for the UART service"

config BT_NUS_UART_DEV
	string "UART device name"
	default "UART_0"
	help
	  Name of the used UART device. The sample uses uart0 by default.
	  The UART device should not be used as logger backend.

config BT_NUS_UART_RX_WAIT_TIME
	int "Timeout for UART RX complete event"
	default 50
	help
	  Wait for RX complete event time in milliseconds

config BT_NUS_UART_ASYNC_ADAPTER
	bool "Enable UART async adapter"
	select SERIAL_SUPPORT_ASYNC
	help
	  Enables asynchronous adapter for UART drives that supports only
	  IRQ interface.

endmenu


menu "Micro:Bit v2 Pager"

config PAGER_SPEAKER_ENABLED
	bool "Enable Speaker"
	default y
	help
	  Enable Micro:bit v2 Speaker.

if PAGER_SPEAKER_ENABLED
config PAGER_BEEP_FREQUENCY
	int "Frequency of the beep"
	default 1000
	range 20 20000
	help
	  Frequency of the beep played when a message is received in hertz.

config PAGER_BEEP_DURATION
	int "Duration of the beep"
	default 1500
	range 200 20000
	help
	  Duration of the beep played when a message is received in milliseconds.
endif

config PAGER_CHARACTER_DURATION
	int "Character duration on the matirx"
	default 1000
	range 300 10000
	help
	  Duration how long to show each character 
	  on the 5x5 matrix display in milliseconds.
endmenu